*{
	margin: 0;
	padding: 0;
	text-decoration: none;
}
ol,ul{
	list-style-type: none;
}
body{
	width: 1533px;
	overflow: scroll;
	background-color: #021022;
	height: auto;
}
h1{
	color: white;
	text-align: center;
}
#top{
	position: absolute;
	height: 956.74px;
}
#shadow{
	width: 1533px;
	
}
#d1{
	position: relative;
	top: -1180px;
	left: 0px;
	width: 350px;
	height: 300px;
}
#d2{
	position: relative;
	top: -1061px;
	right: -100px;
	width: 1078px;
	height: 500px;
}
#geek{
	font-size:155px;
	color: white;
	font-weight: bold;
	position: relative;
	top: -1100px;
	left: 590px;
}
#tw{
	width: 1533px;
	height: 600px;
	position: absolute;
	top: 1080px;
}
.fx{
	padding: 20px;
	border-color: black;
	background-color: #021732;
	width: 333px;
	height: 444px;
	border-radius: 20px;

}
#aq{
	position: relative;
	top: 71px;
	right: 0px;

}
#kf{
	
	position: relative;
	left: 555px;
	top: -450px;
	width: 400px;
	height: 500px;
}
#c{
	width: 1533px;
	height: 1200px;
	position: absolute;
	top: 1800px;
}
#cp{
	position: relative;
	top: -949px;
	left: 1160px;
	
}
#ce{
	width: 1533px;
}
#p{
	position: relative;
	top: -960px;
	width: 1533px;
}
#header{
	position: relative;
	top: -1400px;
	left: 300px;
}
#d{
	position: absolute;
	top: 3000px;
	width: 1533px;
	height: 700px;
}
#cy{
	position: relative;
	top: -100px;
	left: 605px;
	width: 555px;
}
.rw{
	padding: 20px;
	border-color: black;
	background-color: #021732;
	width: 363px;
	height: 137px;
	border-radius: 20px;
	float: left;
}
#rw1{
	position: relative;
	left: 300px;
	top: 0px;
}
#rw2{
	position: relative;
	right: -420px;
	top: 0px;
}
.tx{
	width: 80px;
	height: 80px;
	border-radius: 40px;
	position: relative;
	top: 15%;
}
h4{
	font-size: 28px;
	color: white;
	position: absolute;
	top: 22%;
	left: 35%;
}
h5{
	font-size: 20px;
	color: white;
	position: absolute;
	left: 35%;
	top: 44%;
}
#e{
	position: absolute;
	top: 3800px;
	width: 1533px;
	height: 1000px;
}

#cj{
	position: relative;
	top: 0px;
	left: 600px;
	width: 327px;
	height: 82px;
}
#zj{
	width: 10px;
	margin: auto;
	height: 700px;
	background-color: #021732;
	border-radius: 20px;
	position: relative;
	top: -480px;
}
.cjk{
	width: 566px;
	height: 178px;
	border-radius: 20px;
	background-color: #021732;
	
}
#one{
	position: relative;
	top: 100px;
	right:-80px;
}
#two{
	position: relative;
	top: 120px;
	left: 880px;
	width: 566px;
	height: 178px;
}

#three{
	position: relative;
	top: 150px;
	left: 70px;
}
/*
#f{
	position: absolute;
	top: 4800px;
	width: 1533px;
	height: 1290.5px;
}
#fe{
	width: 1533px;
	height: 1290.5px;
}

#tex{
	font-size: 86px;
	color: white;
	position: relative;
	top: -550px;
	left: 620px;
	font-weight: bold;
	width: 555px;
	height: 100px;
}
button{
	position: relative;
	top: -444px;
	left: 500px;
}*/
#f{
	position: absolute;
	top: 4800px;
	width: 1533px;
	height: 1090px;
}
#fe{
	width: 1533px;
}
h3{
	font-size: 86px;
	color: white;
	position: relative;
	top: -520px;
	left: 635px;
	font-weight: bold;
	width: 666px;
}
button{
	position: absolute;
	top: 930px;
	left: 590px;
}
#ss{
	position: relative;
	top: 0px;
	height: 0px;
}